.container.Client {
    padding-bottom: 100px;
}
.ClientRow {
    padding: 60px 180px;
}
.Swiper {
    width: 100%;
}
.SwiperSlide {
    width: 350px;
    height: 180px;
  
}
.SwiperImg {
    width: 100%;
    height: 80%;
    transition: all 1.5s;
}
.SwiperImg:hover {
    height: 100%;
    transform: scale(1.01);
}

/* Media */
@media (min-width: 320px) and (max-width:450px) {
    .container.Client {
        padding: 10px;
    }
    .ClientRow {
        padding: 20px;
    }
}
@media (min-width: 450px) and (max-width: 650px) {
    .container.Client {
        padding: 20px;
    }
    .ClientRow {
        padding: 20px;
    }
}

