.container.Navbar {
  margin: 0;
  z-index: 99999;
  padding: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(177, 164, 164);
  height: 72px;
}
.container.Navbar .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.container.Navbar .navbarLinks ul {
  justify-content: space-evenly;
  display: flex;
}
.container.Navbar .navbarLinks ul li {
  list-style: none;
  padding-inline: 20px;
  display: flex;
  align-items: center;
}
.container.Navbar .navbarLinks ul li a{
  padding: 10px 0;
  color: #18191f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 2px;
  border-bottom: 2px solid transparent;
  position: relative;
}
.container.Navbar .navbarLinks a:hover::after,
.container.Navbar .navbarLinks a:focus::after,
.container.Navbar .navbarLinks a:active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  background-color: rebeccapurple;
  width: 100%;
  height: 1px;
}
.container.Navbar .navbarLinks ul li select {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 2px;
  border-bottom: 2px solid transparent;
  transition: all 0.1s ease-in-out;
}
.container.Navbar .navbarLinks ul li button {
  width: 100%;
  padding: 10px 15px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 10px;
  background-color: blue;
}
.container.Navbar .navbarLinks ul li button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.container.Navbar .nav .navbar-brand .navbar-brandImg {
  width: 100px;
  height: 40px;
}

.mobileBurger,
.mobileBurgerClose {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  z-index: 999;
}
#burgerMenu {
  display: block;
  position: absolute;
  top: -10000px;
}
.navbarLanguages {
  display: none;
}
.navLang:hover .navbarLanguages {
  position: absolute;
  top: 50px;
  left: 0;
  border: none;
  display: block;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.08);
  z-index: 99;
  padding: 0;
  border-radius: 12px;
  text-align: center;
}
.navbarLanguages div {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
}
.navbarLanguages div:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
  border-radius: 12px;
}

.navbarServices {
  display: none;
}

.navServices:hover .navbarServices {
  position: absolute;
  top: 50px;
  left: -30px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.08);
}
.navbarServices .navbarServicesInner {
  display: flex;
  align-items: center;
  padding-top: 20px;
}
.navbarServices .navbarServicesInner:hover {
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  background-color: rgb(169, 169, 228);
  border-radius: 12px;
  padding: 5px;
}

.navbarPortfolio {
  display: none;
}
.navPortfolio:hover .navbarPortfolio {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30px;
  left: -50px;
  background-color: #fff;
  z-index: 99;
  width: 300px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.08);
}
.navbarPortfolio .navbarPortfolioInner {
  display: flex;
  padding-top: 10px;
  gap: 5px;
  align-items: center;
}
.navbarPortfolio .navbarPortfolioInner:hover {
  background-color: blue;
  color: white;
  border-radius: 15px;
}
@media (min-width: 320px) and (max-width: 1050px) {
  .navServices {
    display: none;
  }
  .navLang {
    position: relative;
    top: -10000px;
    display: block;
  }
}
@media (max-width: 1050px) {
  #burgerMenu:checked + .navbarLinksUl {
    background-color: #18191f;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
  }
  .navServices:hover .navbarServices {
    display: none;
  }
  .navPortfolio:hover .navbarPortfolio {
    display: none;
  }
  .navLang {
    display: none;
  }
  .navLang:hover .navbarLanguages {
    display: none;
  }
  .mobileBurger {
    display: block;
  }
  .container.Navbar .navbarLinks ul li a{
    color: white;
    font-size: 30px;
    line-height: 40px;
  }
  .navbarSvg {
    display: none;
  }
  /*   .container.Navbar .navbarLinks ul.blockedMenu{
        display: block;
    } */
  .container.Navbar .nav .navbar-brand .navbar-brandImg {
    display: none;
  }
  .container.Navbar .navbarLinks ul li button {
    position: absolute;
    top: -10000px;
  }
}
@media (min-width: 1050px) {
  .mobileBurger {
    display: none;
  }
}
